repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.10
  hooks:
    - id: ruff-check
      files: \.py$
    - id: ruff-format
      files: \.py$
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
    - id: check-ast
    - id: check-yaml
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.9.0
  hooks:
    - id: python-use-type-annotations
